body {
	margin: 0;
	padding: 0;
	padding-top: 56px;
	background-color: #f1f1f1;
	font-family: "Noto Sans", sans-serif;
	font-weight: 400;
	line-height: 2;
	word-wrap: break-word;
	word-break: break-word;
}

html {
	position: relative;
	/* Allows the footer to notice content height */
	min-height: 100vh;
	/* My page will always take the full screen */
}

main {
	margin-bottom: 150px;
}

footer {
	position: absolute;
	/* I don't care about other things */
	bottom: 0;
	/* I want to be on the bottom... */
	width: 100%;
}

.githublogo {
	color: #000;
}

.card-deck .card {
	min-width: 220px;
}

.kanban {
	display: flex;
	flex: 1 1 auto;
	overflow: auto;
}

.kanban-container {
	display: flex;
	flex-direction: row;
	padding: 10px 0 10px 10px;
}

.kanban-column {
	display: flex;
	flex-direction: column;
	margin-right: 6px;
	min-width: 300px;
	max-width: 300px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	background-color: #eee;
}

.kanban-column-header {
	padding: 10px;
	font-weight: bold;
	font-size: 0.875rem;
}

.kanban-column-list {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: auto;
	margin: 0;
	padding: 10px 10px 0;
	list-style: none;
}

.kanban-column-footer {
	padding: 10px;
	font-size: 0.875rem;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

.kanban-column-list>.card {
	padding: 20px 10px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	margin-bottom: 10px;
	cursor: pointer;
}

.container {
	padding-left: 75px;
	padding-right: 75px;
}

.color {
	transition-property: background-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}


#post img {
	width: 100%;
	border-radius: 10px;
}

pre {
	border-radius: 10px;
}

p {
	font-size: 19px;
	margin: 1.5em 0;
}

hr {
	width: 100%;
	height: 5px;
	margin: 40px 0 25px;
	border: none;
	background: #000000;
	opacity: 0.065;
}